@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  background-image: url("/images/graph-paper.svg");
  background-size: 10%;
  background-repeat: repeat;
}
